.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 2px;
    background-color: #383838;
    color: white;
    text-align: center;
    font: italic bold 15px Georgia, serif; 
  }