body{
    margin: 0;
    font-family: "Lato", sans-serif;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    margin-top:70px;
  }

table caption {
    font-size: 1.5em;
    margin: .25em 0 .75em;
  }
  
table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
table th, table td {
    padding: .625em;
    text-align: center;
  }
  
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
table td img { text-align: center; }
@media screen and (max-width: 600px) {
  
table { border: 0; }
  
table caption { font-size: 1.3em; }
  
table thead { display: none; }
  
table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
table td:last-child { border-bottom: 0; }
  }
.centerTable{
  width: 85%;
  margin:auto;
  margin-bottom: .625em;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
 .accept{
    background-color: #2F917C;
 } 
 .decline{
     background-color: #990000;
 }
 .accept:hover{
    background-color: rgb(75, 202, 175);
 }
.decline:hover{
    background-color: #cc2020;  
}